/* CSS declarations go here */
body {
	background: #cbefe0;
	font-family: sans-serif;
	margin: 0 auto;
	line-height: 1.4;
}
hr {
	border: none;
	border-top: 1px dashed #FFF;
	margin: 1.4em 0;
}
code {
	background: #FFF;
	padding: 0.4em 0.7em;
	margin: 0 0.4em;
	border-radius: 3px;
	border: 1px solid #CECECE;
	font-weight: bold;
}
h1 {
	margin-top: 1.2em;
	font-size: 2.5em;
}
p {
	max-width: 75%;
}
a {
	color: #000;
	font-weight: bold;
}
a:hover {
	color: #aaa;
}
.container {
	width: 900px;
	margin: 0 auto;
	text-align: center;
}
.listCol {
	float: left;
}
.listItem__header {
	font-weight: bold;
}
.listItem__header__sum {
	float: right;
	color: #aaa;
	margin-left: 0.5em;
}
.txt-top {
	text-align: left;
}
.list {
	padding: 0 1em 2em 0;
	margin: 0;
	width: 425px;
	text-align: left;
}
.listItem {
	list-style: none;
	padding: 0.3em 0.5em;
	background: #fff;
	border-radius: 3px;
	margin-bottom: 3px;
	overflow: hidden;
}
.listItem--header {
	background: none;
	margin-top: 0.5em;
	color: #444;
}
.listItem__stats {
	color: #ccc;
}